{% set login_view = true %}
{% set fields = [
 {'name': 'username', 'label': 'Usuario', 'type': 'text', 'placeholder': 'Usuario', 'icon': 'fa-user'},
 {'name': 'password', 'label': 'Contrase&ntilde;a', 'type': 'password', 'placeholder': 'Contrase&ntilde;a', 'icon': 'fa-lock'}
] %}
{% set form_id = 'loginForm' %}
{% set button_text = 'LOGIN' %}
{% set api_url = url_for('core_api.login') %}
{% set extra_links = [
 {'text': 'Olvid&eacute; mi contrase&ntilde;a', 'url': url_for('core.forgot_password')},
] %}
{% include 'layouts/access_form.j2' %}
