{# partials/footer.j2 #}
<script src="/js/popper.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/sidebar.js?v=closed-submenus-20260626"></script>
<script src="/js/forms.js"></script>
<script src="/js/modals.js"></script>
