{# partials/sidebar_toggle.j2 #}
{# Button to hide and show the sidebar on mobile #}
<button id="sidebarToggle"
    class="md:hidden fixed top-4 left-4 z-50 bg-gray-200 dark:bg-gray-700 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500"
    aria-label="Toggle Sidebar">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
</button>