<h1 class="text-3xl font-bold">Dashboard - <span class="text-2xl font-bold"> Hola {{ username }} </span></h1>
</div>
<div class="col-md-12">
    
    <p>¡Bienvenido a la aplicación de gestión de productos!</p>
    <h1 class="text-3xl font-bold">Bienvenido a TecnoAgro</h1>

    <p>TecnoAgro es un sistema innovador diseñado para ayudar a los agricultores a optimizar el uso de
        nutrientes y mejorar la producción de sus cultivos. Nuestro sistema utiliza tecnologías avanzadas para
        analizar datos de suelos, foliares y aplicaciones de nutrientes, y proporciona recomendaciones
        personalizadas para mejorar la nutrición de sus cultivos.</p>

    <h3 class="text-2xl font-bold">Nuestro objetivo</h3>

    <p>En TecnoAgro, nuestro objetivo es proporcionar a los agricultores herramientas efectivas y fáciles de
        usar para mejorar la productividad y la sostenibilidad de sus cultivos. Nuestro sistema está diseñado
        para ser escalable, seguro y fácil de usar, y está respaldado por un equipo de expertos en agronomía y
        tecnología.</p>

    <h3 class="text-2xl font-bold">Características del sistema</h3>

    <ul class="list-disc pl-5">
        <li>Análisis de datos de suelos y foliares</li>
        <li>Recomendaciones personalizadas para la aplicación de nutrientes</li>
        <li>Gestión de fincas y lotes</li>
        <li>Registro de producción y seguimiento de resultados</li>
        <li>Integración con API externas para la recepción de datos procesados de imágenes de drones</li>
        <li>Autenticación segura y autorización de acceso</li>
    </ul>
</div>